@import "materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  padding: 0;
  background-color: rgb(217, 226, 233);
}

span {
  color: rgb(117, 142, 158);
}

.todo {
  margin-bottom: 1.5rem;
}

.todo.status span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background-color: rgb(202, 211, 217);
}

.todo i {
  font-size: 20px;
}